config.py
venv/
__pycache__/
*.pyc
.env
uploads/
saved_model/*.pth
chroma_db/
.DS_Store
backend/saved_model/
*.pt
requirement.txt
chroma_store

node_modules/
dist/
.env
.env.local
.DS_Store
dataset/
knowledge_base/
static/
vectordb/